/* Import font từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* Đổi sang font Quicksand cho toàn bộ trang */
  font-family: 'Quicksand', sans-serif;
  background-color: #fffafb; /* Màu nền hơi hồng nhạt cho ấm áp */
  color: #444;
}

.container {
  height: 100vh;
  width: 100vw; /* Sửa thành 100vw để full màn hình ngang */
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

/* --- Chỉnh sửa Font chữ cho các phần quan trọng --- */

.one {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive; /* Chữ viết tay cho lời chào */
  color: #e91e63;
}

.two {
  font-size: 1.3rem;
  font-weight: 400;
}

.three {
  font-size: 2.2rem;
  padding: 0 20px;
  line-height: 1.4;
}

/* Font chữ cho lời chúc cuối cùng */
.wish-hbd {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5em;
  color: #e91e63;
  margin: 0;
}

.last-smile {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #e91e63;
}

/* --- Cấu trúc và hiệu ứng --- */

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.four .text-box {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #ffb1c1;
  border-radius: 15px; /* Bo tròn góc nhìn cho mềm mại */
  padding: 20px;
  position: relative;
  background-color: #fff;
}

.text-box p {
  margin: 0;
  text-align: left;
  line-height: 1.6;
}

.text-box .fake-btn {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #fff;
  background-color: #e91e63; /* Màu hồng cho nút */
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-3 strong {
  background-color: #ffeb3b;
  padding: 3px 8px;
  border-radius: 5px;
}

.five .idea-5 {
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
}

.idea-6 span {
  font-size: 10rem; /* Giảm size một chút để không bị tràn */
  font-weight: bold;
  color: #e91e63;
}

.six img {
  display: inline-block;
  max-width: 300px;
  border-radius: 50%; /* Làm ảnh bạn gái hình tròn cho đẹp */
  border: 5px solid #ffb1c1;
  height: auto;
}

.baloons img {
  display: inline-block;
  position: absolute;
  width: 100px; /* Chỉnh nhỏ lại tí để bay được nhiều */
  bottom: -200px;
  opacity: 0;
}

/* Xóa bỏ các dòng nth-child cũ và thay bằng các vị trí rải rác */
.baloons img:nth-child(4n+1) { left: 5%; }
.baloons img:nth-child(4n+2) { left: 35%; }
.baloons img:nth-child(4n+3) { left: 65%; }
.baloons img:nth-child(4n+4) { left: 85%; }

/* Các đoạn Media Queries giữ nguyên hoặc tinh chỉnh nhẹ cho mobile */
@media screen and (max-width: 500px) {
  .one { font-size: 2.5rem; }
  .three { font-size: 1.5rem; }
  .wish-hbd { font-size: 2.2em; }
  .idea-6 span { font-size: 6rem; }
}

/* Giữ nguyên phần SVG trang trí ở dưới */
.eight svg { width: 25px; position: absolute; visibility: hidden; z-index: -1; }
.eight svg:nth-child(1) { top: 7vh; left: 5vw; fill: #bd6ecf; }
/* ... (các phần svg khác giữ nguyên) */
